<table class="table table-striped">
  <thead><tr><th></th><th>Facility</th><th title="observation group">OG</th><th>Strategy</th><th>Parameters</th></tr></thead>
  <tbody>
  {% for sequence in observation_sequences %}
    {% with sequence.observation_group.observation_records.last as observation %}
    <tr>
      <td>
        {% if sequence.active %}
          <span title='active' style="color: green;">&#x25B6;&#xFE0E;</span>
        {% else %}
          <span title='stopped' style="color: red;">&#x25A0;&#xFE0E;</span>
        {% endif %}
      </td>
      <td>{{ observation.facility }}</td>
      <td>
        <a href="{% url 'tom_observations:list' %}?observationgroup={{ sequence.observation_group.id }}">
          {{ sequence.observation_group.id }}
        </a>
      </td>
      <td>
        {% if sequence.cadence_strategy == 'ResumeCadenceAfterFailureStrategy' %}
          Repeat every {{ sequence.cadence_parameters.cadence_frequency }}&nbsp;h
        {% elif sequence.cadence_strategy == 'RetryFailedObservationsStrategy' %}
          Repeat until obtained
        {% endif %}
      </td>
      <td>
        <ul>
          {% for key, val in observation.parameters.items %}
            {% if key not in params_to_hide and val %}
              <li>{{ key }}: {{ val }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endwith %}
  {% empty %}
    <tr>
      <td colspan="6">
        No observations yet for this target.
      </td>
    </tr>
  {% endfor %}
</table>
