astroplan
astropy
astroquery
candidate_vetting @ git+https://github.com/astro-trove/candidate_vetting.git@v0.0.4
django
django-crispy-forms
django-extensions
django-filter
django-guardian
django-tasks
healpix-alchemy
healpy
lightcurve-fitting
ligo.skymap
matplotlib
numpy
tomtoolkit<3
tom-alertstreams==1.2.1
tom-antares @ git+https://github.com/SAGUARO-MMA/tom_antares.git@tom-alertstreams-tmp
tom-mmt @ git+https://github.com/griffin-h/tom_mmt.git
tom-nonlocalizedevents @ git+https://github.com/TOMToolkit/tom_nonlocalizedevents.git@dev
trove-mpc @ git+https://github.com/astro-trove/trove-mpc.git
tom-registration
tom-swift==0.2.0
paramiko
plotly
psycopg2-binary
python-dateutil
requests
slack-sdk
specutils
SQLAlchemy
whitenoise
