astroplan
astropy
astroquery
candidate_vetting @ git+https://github.com/astro-trove/candidate_vetting.git@tomtoolkit3
django
django-crispy-forms
django-extensions
django-filter
django-guardian
django-tasks
healpix-alchemy
healpy
lightcurve-fitting
ligo.skymap
matplotlib
numpy
tomtoolkit==3.0.0
tom-alertstreams==1.3.0
tom-antares==3.0.1
tom-mmt @ git+https://github.com/griffin-h/tom_mmt
tom-nonlocalizedevents==1.0.0
tom-registration==2.0.1
tom-swift==0.2.0
paramiko
plotly
psycopg2-binary
python-dateutil
requests
slack-sdk
specutils
SQLAlchemy
whitenoise
